{% block html_head_container %}

{% include 'html-header.twig' %}
	{% block head %}
	{% endblock %}
	</head>
{% endblock %}

	<body class="{{body_class}}" data-template="base.twig">
		
		{% include "menu.twig" %}

		{% block content %}
		
		
		{% endblock %}

		{% include "footer.twig" %}


	</body>
</html>
