<!-- GTranslate: https://gtranslate.io/ -->
<a href="#" onclick="doGTranslate('es|en');return false;" title="English" class="glink nturl notranslate d-block">English</a>
<a href="#" onclick="doGTranslate('es|pt');return false;" title="Português" class="glink nturl notranslate d-block">Português</a>
<a href="#" onclick="doGTranslate('es|es');return false;" title="Español" class="glink nturl notranslate d-block">Español</a>


<div id="google_translate_element2"></div>

<script>
	function googleTranslateElementInit2() {
new google.translate.TranslateElement({
pageLanguage: 'es',
autoDisplay: false
}, 'google_translate_element2');
}
</script>
<script src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit2"></script>


